@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .clothoid-corner-unset {
    clip-path: unset;
  }

  .clothoid-corner-2 {
    clip-path: polygon(
      0.694506rem 0rem,
      calc(100% - 0.694506rem) 0rem,
      calc(100% - 0.621587rem) 0.000344rem,
      calc(100% - 0.548707rem) 0.002527rem,
      calc(100% - 0.476033rem) 0.008232rem,
      calc(100% - 0.403964rem) 0.019115rem,
      calc(100% - 0.333375rem) 0.037217rem,
      calc(100% - 0.265618rem) 0.063907rem,
      calc(100% - 0.202485rem) 0.100088rem,
      calc(100% - 0.146321rem) 0.146321rem,
      calc(100% - 0.100088rem) 0.202485rem,
      calc(100% - 0.063907rem) 0.265618rem,
      calc(100% - 0.037217rem) 0.333375rem,
      calc(100% - 0.019115rem) 0.403964rem,
      calc(100% - 0.008232rem) 0.476033rem,
      calc(100% - 0.002527rem) 0.548707rem,
      calc(100% - 0.000344rem) 0.621587rem,
      calc(100% - 0.000344rem) calc(100% - 0.621587rem),
      calc(100% - 0.002527rem) calc(100% - 0.548707rem),
      calc(100% - 0.008232rem) calc(100% - 0.476033rem),
      calc(100% - 0.019115rem) calc(100% - 0.403964rem),
      calc(100% - 0.037217rem) calc(100% - 0.333375rem),
      calc(100% - 0.063907rem) calc(100% - 0.265618rem),
      calc(100% - 0.100088rem) calc(100% - 0.202485rem),
      calc(100% - 0.146321rem) calc(100% - 0.146321rem),
      calc(100% - 0.202485rem) calc(100% - 0.100088rem),
      calc(100% - 0.265618rem) calc(100% - 0.063907rem),
      calc(100% - 0.333375rem) calc(100% - 0.037217rem),
      calc(100% - 0.403964rem) calc(100% - 0.019115rem),
      calc(100% - 0.476033rem) calc(100% - 0.008232rem),
      calc(100% - 0.548707rem) calc(100% - 0.002527rem),
      calc(100% - 0.621587rem) calc(100% - 0.000344rem),
      calc(100% - 0.694506rem) 100%,
      0.694506rem 100%,
      0.621587rem calc(100% - 0.000344rem),
      0.548707rem calc(100% - 0.002527rem),
      0.476033rem calc(100% - 0.008232rem),
      0.403964rem calc(100% - 0.019115rem),
      0.333375rem calc(100% - 0.037217rem),
      0.265618rem calc(100% - 0.063907rem),
      0.202485rem calc(100% - 0.100088rem),
      0.146321rem calc(100% - 0.146321rem),
      0.100088rem calc(100% - 0.202485rem),
      0.063907rem calc(100% - 0.265618rem),
      0.037217rem calc(100% - 0.333375rem),
      0.019115rem calc(100% - 0.403964rem),
      0.008232rem calc(100% - 0.476033rem),
      0.002527rem calc(100% - 0.548707rem),
      0.000344rem calc(100% - 0.621587rem),
      0.000344rem 0.621587rem,
      0.002527rem 0.548707rem,
      0.008232rem 0.476033rem,
      0.019115rem 0.403964rem,
      0.037217rem 0.333375rem,
      0.063907rem 0.265618rem,
      0.100088rem 0.202485rem,
      0.146321rem 0.146321rem,
      0.202485rem 0.100088rem,
      0.265618rem 0.063907rem,
      0.333375rem 0.037217rem,
      0.403964rem 0.019115rem,
      0.476033rem 0.008232rem,
      0.548707rem 0.002527rem,
      0.621587rem 0.000344rem,
      0.694506rem 0rem
    );
  }

  .clothoid-corner-\[18\.18\%\] {
    clip-path: polygon(
      25.252243% 0%,
      calc(100% - 25.252243%) 0%,
      calc(100% - 22.600915%) 0.012515%,
      calc(100% - 19.951002%) 0.09189%,
      calc(100% - 17.308571%) 0.299299%,
      calc(100% - 14.688122%) 0.695018%,
      calc(100% - 12.121527%) 1.353205%,
      calc(100% - 9.657887%) 2.323653%,
      calc(100% - 7.362342%) 3.639209%,
      calc(100% - 5.320226%) 5.320226%,
      calc(100% - 3.639209%) 7.362342%,
      calc(100% - 2.323653%) 9.657887%,
      calc(100% - 1.353205%) 12.121527%,
      calc(100% - 0.695018%) 14.688122%,
      calc(100% - 0.299299%) 17.308571%,
      calc(100% - 0.09189%) 19.951002%,
      calc(100% - 0.012515%) 22.600915%,
      calc(100% - 0.012515%) calc(100% - 22.600915%),
      calc(100% - 0.09189%) calc(100% - 19.951002%),
      calc(100% - 0.299299%) calc(100% - 17.308571%),
      calc(100% - 0.695018%) calc(100% - 14.688122%),
      calc(100% - 1.353205%) calc(100% - 12.121527%),
      calc(100% - 2.323653%) calc(100% - 9.657887%),
      calc(100% - 3.639209%) calc(100% - 7.362342%),
      calc(100% - 5.320226%) calc(100% - 5.320226%),
      calc(100% - 7.362342%) calc(100% - 3.639209%),
      calc(100% - 9.657887%) calc(100% - 2.323653%),
      calc(100% - 12.121527%) calc(100% - 1.353205%),
      calc(100% - 14.688122%) calc(100% - 0.695018%),
      calc(100% - 17.308571%) calc(100% - 0.299299%),
      calc(100% - 19.951002%) calc(100% - 0.09189%),
      calc(100% - 22.600915%) calc(100% - 0.012515%),
      calc(100% - 25.252243%) 100%,
      25.252243% 100%,
      22.600915% calc(100% - 0.012515%),
      19.951002% calc(100% - 0.09189%),
      17.308571% calc(100% - 0.299299%),
      14.688122% calc(100% - 0.695018%),
      12.121527% calc(100% - 1.353205%),
      9.657887% calc(100% - 2.323653%),
      7.362342% calc(100% - 3.639209%),
      5.320226% calc(100% - 5.320226%),
      3.639209% calc(100% - 7.362342%),
      2.323653% calc(100% - 9.657887%),
      1.353205% calc(100% - 12.121527%),
      0.695018% calc(100% - 14.688122%),
      0.299299% calc(100% - 17.308571%),
      0.09189% calc(100% - 19.951002%),
      0.012515% calc(100% - 22.600915%),
      0.012515% 22.600915%,
      0.09189% 19.951002%,
      0.299299% 17.308571%,
      0.695018% 14.688122%,
      1.353205% 12.121527%,
      2.323653% 9.657887%,
      3.639209% 7.362342%,
      5.320226% 5.320226%,
      7.362342% 3.639209%,
      9.657887% 2.323653%,
      12.121527% 1.353205%,
      14.688122% 0.695018%,
      17.308571% 0.299299%,
      19.951002% 0.09189%,
      22.600915% 0.012515%,
      25.252243% 0%
    );
  }

  .bubble-tail-l,
  .bubble-tail-r {
    position: relative;
  }

  .bubble-tail-l:after {
    content: "";
    position: absolute;
    top: 13px;
    left: -5px;
    display: block;
    width: 5px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 5 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 18c0-2.82-1.59-4.36-2.97-5.72C.95 11.24 0 10.31 0 9c0-1.3.95-2.24 2.03-3.28C3.4 4.36 5 2.82 5 0v18Z' fill='white'/%3E%3C/svg%3E")
      no-repeat;
  }

  .bubble-tail-r:after {
    content: "";
    position: absolute;
    top: 13px;
    right: -5px;
    display: block;
    width: 5px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 5 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18c0-2.82 1.59-4.36 2.97-5.72C4.05 11.24 5 10.31 5 9c0-1.3-.95-2.24-2.03-3.28C1.6 4.36 0 2.82 0 0v18Z' fill='%2395EB69'/%3E%3C/svg%3E")
      no-repeat;
  }

  .bubble-tail-none:after {
    display: none;
  }

  .mask-bubble-tail-l {
    mask:
      0 13px / 5px 18px url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 5 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 18c0-2.82-1.59-4.36-2.97-5.72C.95 11.24 0 10.31 0 9c0-1.3.95-2.24 2.03-3.28C3.4 4.36 5 2.82 5 0v18Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      5px top / 10px url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10h10V0C8.141 0 7.212 0 6.44.154A8 8 0 0 0 .153 6.439C0 7.212 0 8.141 0 10Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      right top / 10px url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v10h10c0-1.859 0-2.788-.154-3.56A8 8 0 0 0 3.561.153C2.788 0 1.859 0 0 0Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      right bottom / 10px url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0H0v10c1.859 0 2.788 0 3.56-.154a8 8 0 0 0 6.286-6.285C10 2.788 10 1.859 10 0Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      5px bottom / 10px url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 10V0H0c0 1.859 0 2.788.154 3.56a8 8 0 0 0 6.285 6.286C7.212 10 8.141 10 10 10Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      linear-gradient(
        to right,
        transparent calc(5px + 10px),
        blue calc(5px + 10px),
        blue calc(100% - 10px),
        transparent calc(100% - 10px)
      ) no-repeat,
      right center / calc(100% - 5px) 100% linear-gradient(
        to bottom,
        transparent 10px,
        green 10px,
        green calc(100% - 10px),
        transparent calc(100% - 10px)
      ) no-repeat;
  }

  .mask-bubble-tail-r {
    mask:
      right 13px / 5px 18px url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 5 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18c0-2.82 1.59-4.36 2.97-5.72C4.05 11.24 5 10.31 5 9c0-1.3-.95-2.24-2.03-3.28C1.6 4.36 0 2.82 0 0v18Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      left top / 10px url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10h10V0C8.141 0 7.212 0 6.44.154A8 8 0 0 0 .153 6.439C0 7.212 0 8.141 0 10Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      right 5px top / 10px url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v10h10c0-1.859 0-2.788-.154-3.56A8 8 0 0 0 3.561.153C2.788 0 1.859 0 0 0Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      right 5px bottom / 10px url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0H0v10c1.859 0 2.788 0 3.56-.154a8 8 0 0 0 6.286-6.285C10 2.788 10 1.859 10 0Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      left bottom / 10px url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 10V0H0c0 1.859 0 2.788.154 3.56a8 8 0 0 0 6.285 6.286C7.212 10 8.141 10 10 10Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      left center / calc(100% - 5px) 100% linear-gradient(
        to right,
        transparent 10px,
        blue 10px,
        blue calc(100% - 10px),
        transparent calc(100% - 10px)
      ) no-repeat,
      left center / calc(100% - 5px) 100% linear-gradient(
        to bottom,
        transparent 10px,
        green 10px,
        green calc(100% - 10px),
        transparent calc(100% - 10px)
      ) no-repeat;
  }

  .mask-bubble-tail-none {
    mask: none;
  }
}

.gradient-blur {
  z-index: 5;
  pointer-events: none;
}

.gradient-blur:after,
.gradient-blur:before,
.gradient-blur > div {
  position: absolute;
  inset: 0;
}

.gradient-blur:before {
  content: "";
  z-index: 1;
  -webkit-backdrop-filter: blur(.5px);
  backdrop-filter: blur(.5px);
  mask: linear-gradient(
    180deg,
    transparent 0,
    #000 12.5%,
    #000 25%,
    transparent 37.5%
  );
}

.gradient-blur > div:first-of-type {
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    180deg,
    transparent 12.5%,
    #000 25%,
    #000 37.5%,
    transparent 50%
  );
}

.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  mask: linear-gradient(
    180deg,
    transparent 25%,
    #000 37.5%,
    #000 50%,
    transparent 62.5%
  );
}

.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  mask: linear-gradient(
    180deg,
    transparent 37.5%,
    #000 50%,
    #000 62.5%,
    transparent 75%
  );
}

.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    180deg,
    transparent 50%,
    #000 62.5%,
    #000 75%,
    transparent 87.5%
  );
}

.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  mask: linear-gradient(
    180deg,
    transparent 62.5%,
    #000 75%,
    #000 87.5%,
    transparent
  );
}

.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  mask: linear-gradient(180deg, transparent 75%, #000 87.5%, #000);
}

.gradient-blur:after {
  content: "";
  z-index: 8;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  mask: linear-gradient(180deg, transparent 87.5%, #000);
}
