@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .clothoid-corner-0\.375 {
    clip-path: polygon(
      0.52088rem 0rem,
      calc(100% - 0.52088rem) 0rem,
      calc(100% - 0.447964rem) 0.000599rem,
      calc(100% - 0.375159rem) 0.004353rem,
      calc(100% - 0.302973rem) 0.014336rem,
      calc(100% - 0.23283rem) 0.033909rem,
      calc(100% - 0.167095rem) 0.065096rem,
      calc(100% - 0.109741rem) 0.109741rem,
      calc(100% - 0.065096rem) 0.167095rem,
      calc(100% - 0.033909rem) 0.23283rem,
      calc(100% - 0.014336rem) 0.302973rem,
      calc(100% - 0.004353rem) 0.375159rem,
      calc(100% - 0.000599rem) 0.447964rem,
      100% 0.52088rem,
      100% calc(100% - 0.52088rem),
      calc(100% - 0.000599rem) calc(100% - 0.447964rem),
      calc(100% - 0.004353rem) calc(100% - 0.375159rem),
      calc(100% - 0.014336rem) calc(100% - 0.302973rem),
      calc(100% - 0.033909rem) calc(100% - 0.23283rem),
      calc(100% - 0.065096rem) calc(100% - 0.167095rem),
      calc(100% - 0.109741rem) calc(100% - 0.109741rem),
      calc(100% - 0.167095rem) calc(100% - 0.065096rem),
      calc(100% - 0.23283rem) calc(100% - 0.033909rem),
      calc(100% - 0.302973rem) calc(100% - 0.014336rem),
      calc(100% - 0.375159rem) calc(100% - 0.004353rem),
      calc(100% - 0.447964rem) calc(100% - 0.000599rem),
      calc(100% - 0.52088rem) 100%,
      0.52088rem 100%,
      0.447964rem calc(100% - 0.000599rem),
      0.375159rem calc(100% - 0.004353rem),
      0.302973rem calc(100% - 0.014336rem),
      0.23283rem calc(100% - 0.033909rem),
      0.167095rem calc(100% - 0.065096rem),
      0.109741rem calc(100% - 0.109741rem),
      0.065096rem calc(100% - 0.167095rem),
      0.033909rem calc(100% - 0.23283rem),
      0.014336rem calc(100% - 0.302973rem),
      0.004353rem calc(100% - 0.375159rem),
      0.000599rem calc(100% - 0.447964rem),
      0rem calc(100% - 0.52088rem),
      0rem 0.52088rem,
      0.000599rem 0.447964rem,
      0.004353rem 0.375159rem,
      0.014336rem 0.302973rem,
      0.033909rem 0.23283rem,
      0.065096rem 0.167095rem,
      0.109741rem 0.109741rem,
      0.167095rem 0.065096rem,
      0.23283rem 0.033909rem,
      0.302973rem 0.014336rem,
      0.375159rem 0.004353rem,
      0.447964rem 0.000599rem,
      0.52088rem 0rem
    );
  }

  .bubble-tail-l,
  .bubble-tail-r {
    position: relative;
  }

  .bubble-tail-l:after {
    content: "";
    position: absolute;
    top: 13px;
    left: -5px;
    display: block;
    width: 5px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 5 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 18c0-2.82-1.59-4.36-2.97-5.72C.95 11.24 0 10.31 0 9c0-1.3.95-2.24 2.03-3.28C3.4 4.36 5 2.82 5 0v18Z' fill='white'/%3E%3C/svg%3E")
      no-repeat;
  }

  .bubble-tail-r:after {
    content: "";
    position: absolute;
    top: 13px;
    right: -5px;
    display: block;
    width: 5px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 5 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18c0-2.82 1.59-4.36 2.97-5.72C4.05 11.24 5 10.31 5 9c0-1.3-.95-2.24-2.03-3.28C1.6 4.36 0 2.82 0 0v18Z' fill='%2395EB69'/%3E%3C/svg%3E")
      no-repeat;
  }

  .mask-bubble-tail-l {
    mask:
      0 13px / 5px 18px url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 5 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 18c0-2.82-1.59-4.36-2.97-5.72C.95 11.24 0 10.31 0 9c0-1.3.95-2.24 2.03-3.28C3.4 4.36 5 2.82 5 0v18Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      5px top / 8px url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0v8H0c.02-2.33.11-3.66.65-4.72A6 6 0 0 1 3.28.65C4.34.11 5.67.02 8 0Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      right top / 8px url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v8h8c-.02-2.33-.11-3.66-.65-4.72A6 6 0 0 0 4.72.65C3.66.11 2.33.02 0 0Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      5px bottom / 8px url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 8V0H0c.02 2.33.11 3.66.65 4.72a6 6 0 0 0 2.63 2.63c1.06.54 2.39.63 4.72.65Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      right bottom / 8px url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8V0h8c-.02 2.33-.11 3.66-.65 4.72a6 6 0 0 1-2.63 2.63C3.66 7.89 2.33 7.98 0 8Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      linear-gradient(
        to right,
        transparent 13px,
        white 13px,
        white calc(100% - 8px),
        transparent calc(100% - 8px)
      ) no-repeat,
      right center / calc(100% - 5px) 100% linear-gradient(
        to bottom,
        transparent 8px,
        green 8px,
        green calc(100% - 8px),
        transparent calc(100% - 8px)
      ) no-repeat;
  }

  .mask-bubble-tail-r {
    mask:
      right 13px / 5px 18px url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 5 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18c0-2.82 1.59-4.36 2.97-5.72C4.05 11.24 5 10.31 5 9c0-1.3-.95-2.24-2.03-3.28C1.6 4.36 0 2.82 0 0v18Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      left top / 8px url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0v8H0c.02-2.33.11-3.66.65-4.72A6 6 0 0 1 3.28.65C4.34.11 5.67.02 8 0Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      right 5px top / 8px url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v8h8c-.02-2.33-.11-3.66-.65-4.72A6 6 0 0 0 4.72.65C3.66.11 2.33.02 0 0Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      left bottom / 8px url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 8V0H0c.02 2.33.11 3.66.65 4.72a6 6 0 0 0 2.63 2.63c1.06.54 2.39.63 4.72.65Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      right 5px bottom / 8px url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8V0h8c-.02 2.33-.11 3.66-.65 4.72a6 6 0 0 1-2.63 2.63C3.66 7.89 2.33 7.98 0 8Z' fill='red'/%3E%3C/svg%3E") no-repeat,
      linear-gradient(
        to right,
        transparent 8px,
        white 8px,
        white calc(100% - 13px),
        transparent calc(100% - 13px)
      ) no-repeat,
      left center / calc(100% - 5px) 100% linear-gradient(
        to bottom,
        transparent 8px,
        green 8px,
        green calc(100% - 8px),
        transparent calc(100% - 8px)
      ) no-repeat;
  }
}
